{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'video-section.css' | asset_url | stylesheet_tag }}
{{ 'btw-video-with-link-section.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- #ADAPT: prendo il primo bloocco -%}
{% assign first_block = section.blocks.first %}
{%- #controllo cos'è e assegno l'aspect ratio-%}
{% if first_block.settings.video != blank %}
  {% assign aspect_ratio = first_block.settings.video.aspect_ratio %}
  {% if first_block.settings.videoMobile != blank %}
    {% assign aspect_ratio_mobile = first_block.settings.videoMobile.aspect_ratio %}
  {% else %}
    {% assign aspect_ratio_mobile = first_block.settings.video.aspect_ratio %}
  {% endif %}
{% elsif first_block.settings.image != blank %}
  {% assign aspect_ratio = first_block.settings.image.aspect_ratio %}
  {% assign aspect_ratio_mobile = first_block.settings.image_mobile.aspect_ratio %}
  {% if first_block.settings.image_mobile != blank %}
    {% assign aspect_ratio_mobile = first_block.settings.image_mobile.aspect_ratio %}
  {% else %}
    {% assign aspect_ratio_mobile = first_block.settings.image.aspect_ratio %}
  {% endif %}
{% endif %}

{%- style -%}
  {%- if section.settings.slide_height == 'adapt' -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }} {
        aspect-ratio: {{aspect_ratio_mobile}};
      }
    }
    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }} {
        aspect-ratio: {{aspect_ratio}};
      }
    }
  {%- endif -%}
  .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
      {% if section.settings.videoMobile != null %}
        .video-section-w-l .video-section__media.embedv video {
          aspect-ratio: {{ section.settings.videoMobile.aspect_ratio}};
      }
      {% endif %}

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    {% if section.settings.video != null %}
    .video-section-w-l .video-section__media.embedv video {
      aspect-ratio: {{ section.settings.video.aspect_ratio }};
    }
     {% endif %}
    }
  {%- if section.settings.heroMode == true -%}
      .header-wrapper.gradient {
        background: rgb(var(--color-background), {{ section.settings.header-bar-gr }});
      }
      .utility-bar.gradient {
        background: rgb(var(--color-background), {{ section.settings.utility-bar-gr }});
      }
      .shopify-section-group-header-group {
        position:absolute;
        width:100%;
      }
    .announcement-bar-section {
      margin-top:0;
    }
   .section-header {
      margin-top:38px;
    }

    {%- endif -%}
  {%- if section.settings.fullHeight == true -%}
    .video-section-w-l video,.slideshow.banner, .video-section-w-l picture,.video-section-w-l iframe {
      height:100vh;
    }
  {%- endif -%}

  {%- if section.settings.slider_visual != 'none' and section.settings.gloabl_overlay == 'on' -%}
    .slideshow__text-wrapper.banner__content.overlayGlobal {
      height: calc(100% - 46px);
    }
  {%- endif -%}
{%- endstyle -%}

{%- if section.settings.heroMode == true -%}
  <script
    type="text/javascript"
    async
  >
    {% #JS per Hero mode %}
      {% # Funzione per calcolare e impostare il valore di 'top' %}
        function updateTopPosition() {
          // Selezioniamo tutti i .announcement-bar-section
          const announcementBars = document.querySelectorAll('.announcement-bar-section');

          // Offset cumulativo che indica dove posizionare il successivo
          let offset = 0;

          announcementBars.forEach((bar, index) => {
            // Il primo .announcement-bar-section (index === 0) avrà margin-top = 0
            // Gli altri avranno margin-top in base all'altezza di tutti i precedenti
            bar.style.marginTop = index === 0 ? '0px' : offset + 'px';

            // Aggiorniamo l'offset aggiungendo l'altezza di questo .announcement-bar-section
            // offsetHeight è valido solo se l'elemento è visualizzato
            offset += bar.offsetHeight;
          });

          // Selezioniamo la .section-header
          const sectionHeader = document.querySelector('.section-header');
          if (sectionHeader) {
            // La section-header parte dal fondo dell’ultimo announcement-bar-section
            sectionHeader.style.marginTop = offset + 'px';
          }
        }

        // Calcolo iniziale al load della pagina
        window.addEventListener('load', updateTopPosition);

        // Ricalcola al resize
        window.addEventListener('resize', updateTopPosition);

    {% # Funzione per monitorare l'aggiunta o rimozione della classe e aggiornare gli stili durante lo scroll %}
    function observeStickyClass() {
      const sectionHeader = document.querySelector('.section-header');
      {% # Verifica se l'elemento section-header esiste %}
      if (sectionHeader) {
        {% # Funzione per aggiornare lo stile 'position' solo durante lo scroll %}
        function updatePositionOnScroll() {
          if (window.scrollY > 0 && sectionHeader.classList.contains('shopify-section-header-sticky')) {
            sectionHeader.style.position = 'sticky'; {% # Aggiungi 'position:sticky' %}
          } else {
            sectionHeader.style.position = ''; {% # Rimuovi 'position:sticky' %}
          }
        }
        {% # Creazione dell'istanza MutationObserver %}
        const observer = new MutationObserver(function(mutations) {
          mutations.forEach(function(mutation) {
            {% # Verifica la presenza della classe e controlla lo scroll %}
            updatePositionOnScroll();
          });
        });
        {% # Configura l'osservatore per monitorare i cambiamenti nelle classi %}
        observer.observe(sectionHeader, { attributes: true, attributeFilter: ['class'] });
        {% # Aggiungi un listener per lo scroll della pagina %}
        window.addEventListener('scroll', updatePositionOnScroll);
      }
    }
    {% # Esegui immediatamente l'osservazione %}
    observeStickyClass();
  </script>
{% endif %}
<div class="color-{{ section.settings.color_scheme }} gradient {% if section.settings.heroMode == true and section.settings.video != null %} VideoHero{% endif %} btw-slider">
  <div class="video-section video-section-w-l isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">
    <slideshow-component
      class="slider-mobile-gutter{% if section.settings.show_text_below %} mobile-text-below{% endif %}"
      role="region"
      aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
      aria-label="{% if section.settings.accessibility_info != blank %}{{ section.settings.accessibility_info | escape }}{% else %}{{ shop.name }} slider{% endif%}"
    >
      {%- if section.settings.auto_rotate and section.blocks.size > 1 and section.settings.slider_visual != 'none' -%}
        <div class="slideshow__controls slideshow__controls--top slider-buttons{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
            {%- if section.settings.slider_visual == 'counter' -%}
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ section.blocks.size }}</span>
            {%- else -%}
              <div class="slideshow__control-wrapper">
                {%- for block in section.blocks -%}
                  <button
                    class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                    aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    aria-controls="Slider-{{ section.id }}"
                  >
                    {%- if section.settings.slider_visual == 'numbers' -%}
                      {{ forloop.index -}}
                    {%- else -%}
                      <span class="dot"></span>
                    {%- endif -%}
                  </button>
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>

          {%- if section.settings.auto_rotate -%}
            <button
              type="button"
              class="slideshow__autoplay slider-button{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
              aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-pause.svg' | inline_asset_content -}}
              </span>
              <span class="svg-wrapper">
                {{- 'icon-play.svg' | inline_asset_content -}}
              </span>
            </button>
          {%- endif -%}
        </div>
      {%- endif -%}

      <div
        class="slideshow banner {% if section.settings.fullHeight == false %}banner--{{ section.settings.slide_height }} {% endif %} grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        id="Slider-{{ section.id }}"
        aria-live="polite"
        aria-atomic="true"
        data-autoplay="{{ section.settings.auto_rotate }}"
        data-speed="{{ section.settings.change_slides_speed }}"
      >
        {%- for block in section.blocks -%}
          <div
            class="slideshow__slide grid__item grid--1-col slider__slide"
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
            role="group"
            aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            tabindex="-1"
          >
            {%- case block.type -%}
                {% # comment VIDEO %}
              {%- when 'video' -%}
                {%- liquid
                  assign video_id = block.settings.video.id | default: block.settings.video_url.id
                  assign poster = block.settings.video.preview_image | default: block.settings.cover_image

                  if block.settings.video != null
                    assign ratio_diff = block.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
                    if ratio_diff < 0.01 and ratio_diff > 0
                      assign fix_ratio = true
                    endif
                  endif
                -%}
                <div class="slideshow__media banner__media media">
                  <deferred-media
                    class="video-section__media deferred-media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} {% if section.settings.video != null %}embedv {% endif %}"
                    data-media-id="{{ video_id }}"
                  >
                    {% # youtube/vimeo %}
                    {%- if block.settings.video == null and block.settings.video_url != null -%}
                      {%- liquid
                        assign loop = ''
                        if block.settings.enable_video_looping
                          assign loop = '&loop=1&playlist=' | append: video_id
                        endif
                      -%}
                      {%- if block.settings.video_url.type == 'youtube' -%}
                        <iframe
                          src="https://www.youtube-nocookie.com/embed/{{ video_id }}?enablejsapi=1&autoplay={% if  block.settings.enable_autoplay  == true %}1{% else %}0{% endif %}&controls={% if  block.settings.enable_controls == true %}1{% else %}0{% endif %}&rel=0{{ loop }}"
                          class="js-youtube"
                          allow="autoplay; encrypted-media; modestbranding"
                          allowfullscreen
                          aria-describedby="VideoDesc-{{ block.id }}"
                          alt="Iframe Youtube Video"
                        ></iframe>
                      {%- else -%}
                        <iframe
                          src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if  block.settings.enable_autoplay  == true %}1{% else %}0{% endif %}&controls={% if  block.settings.enable_controls == true %}1{% else %}0{% endif %}&rel=0?dnt=1{{ loop }}"
                          class="js-vimeo"
                          allow="autoplay; encrypted-media; modestbranding"
                          allowfullscreen
                          aria-describedby="VideoDesc-{{ block.id }}"
                          alt="Iframe Vimeo Video"
                        ></iframe>
                      {%- endif -%}
                    {%- else -%}
                      {% # poster image %}
                      {%- liquid
                        if block.settings.cover_image == null
                          assign poster_image = block.settings.video.preview_image | remove: 'files'
                        else
                          assign poster_image = block.settings.cover_image | remove: 'files'
                        endif
                      -%}
                      {% # embed %}
                      <link
                        rel="preload"
                        as="image"
                        fetchpriority="high"
                        href="{{ poster_image | file_url }}"
                      >
                      <video
                        playsinline="playsinline"
                        {% if block.settings.enable_autoplay == true %}
                          autoplay="autoplay" muted="muted"
                        {% endif %}
                        {% if block.settings.enable_video_looping == true %}
                          loop="loop"
                        {% endif %}
                        {% if block.settings.enable_controls == true %}
                          controls="controls"
                        {% endif %}
                        preload="metadata"
                        poster="{{ poster_image | file_url }}"
                        {% if block.settings.enable_controls != true %}
                          {% # comment onclick="this.paused ? this.play() : this.pause();" %}
                        {% endif %}
                        aria-describedby="VideoDesc-{{ block.id }}"
                      >
                        {% if block.settings.videoMobile != null %}
                          <source
                            src="{{ block.settings.videoMobile.sources[0].url }}"
                            type="{{ block.settings.videoMobile.sources[0].mime_type }}"
                            media="all and (max-width: 767px)"
                          >
                          <source
                            src="{{ block.settings.videoMobile.sources[1].url }}"
                            type="{{ block.settings.videoMobile.sources[1].mime_type }}"
                            media="all and (max-width: 767px)"
                          >
                        {% endif %}
                        {% if block.settings.video != null %}
                          <source
                            src="{{ block.settings.video.sources[0].url }}"
                            type="{{ block.settings.video.sources[0].mime_type }}"
                            {% if block.settings.videoMobile != null %}
                              media="all and (min-width: 768px)"
                            {% endif %}
                          >
                          <source
                            src="{{ block.settings.video.sources[1].url }}"
                            type="{{ block.settings.video.sources[1].mime_type }}"
                            {% if block.settings.videoMobile != null %}
                              media="all and (min-width: 768px)"
                            {% endif %}
                          >
                        {% endif %}
                      </video>
                    {%- endif -%}
                    {% if block.settings.videoLink -%}
                      <a class="VideoLink" href="{{ block.settings.videoLink }}"></a>
                    {% endif %}
                    <span id="VideoDesc-{{ block.id }}">
                      {%- if block.settings.description != blank -%}
                        {{- block.settings.description -}}
                      {%- else %}
                        {{ shop.name }} video
                      {%- endif -%}
                    </span>
                  </deferred-media>
                </div>
                {% # overlay video %}
                {%- if section.settings.gloabl_overlay == 'off'
                  and block.settings.heading != blank
                  or block.settings.heading_text != blank
                  or block.settings.button_label != blank
                  or block.settings.button_label_2 != blank
                  or block.settings.button_label_3 != blank
                -%}
                  <div class="slideshow__text-wrapper banner__content banner__content--{{ section.settings.heading_position }} page-width scroll-trigger animate--slide-in">
                    <div
                      class="{{ section.settings.heading_size }} overlayVideoText {{ section.settings.alignment }}"
                      style="color: {{ section.settings.colorText }}; {% if section.settings.colorBackground != blank  %}background: {{ section.settings.colorBackground }};{% endif %} padding: {{ section.settings.padding }}vh; width: {%  if section.settings.widthAuto %}auto{% else %}{{ section.settings.width }}% {% endif %}"
                    >
                      {% if block.settings.heading != blank %}
                        <h2 class="{{ section.settings.heading_size }} font-body-bold">{{ block.settings.heading }}</h2>
                      {% endif %}
                      {{ block.settings.heading_text }}

                      {%- if block.settings.button_label != blank
                        or block.settings.button_label_2 != blank
                        or block.settings.button_label_3 != blank
                      -%}
                        <div class="banner__buttons {{ section.settings.alignment }}">
                          {%- if block.settings.button_label != blank -%}
                            <a
                              {% if block.settings.link %}
                                href="{{ block.settings.link }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label | escape -}}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.button_label_2 != blank -%}
                            <a
                              {% if block.settings.link_2 %}
                                href="{{ block.settings.link_2 }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary_2 %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label_2 | escape -}}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.button_label_3 != blank -%}
                            <a
                              {% if block.settings.link_3 %}
                                href="{{ block.settings.link_3 }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary_3 %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label_3 | escape -}}
                            </a>
                          {%- endif -%}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {%- endif -%}
                {% # end overlay video %}

                {% # comment SLIDE %}
              {%- when 'slide' -%}
                <style>
                  #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
                    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
                  }
                </style>
                <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}">
                  <picture>
                    {%- if block.settings.image -%}
                      <source media="(min-width:1600px)" srcset="{{ block.settings.image | image_url: width: 1900 }}">
                      <source media="(min-width:1200px)" srcset="{{ block.settings.image | image_url: width: 1300 }}">
                      <source media="(min-width:750px)" srcset="{{ block.settings.image | image_url: width: 1000 }}">
                    {%- endif -%}

                    {%- if block.settings.image_mobile -%}
                      <source
                        media="(min-width:500px)"
                        srcset="{{ block.settings.image_mobile | image_url: width: 600 }}"
                      >
                      {%- liquid
                        assign height = block.settings.image_mobile.width | divided_by: block.settings.image_mobile.aspect_ratio | round
                        if section.settings.image_behavior == 'ambient'
                          assign sizes = '120vw'
                          assign widths = '450, 660 '
                        else
                          assign sizes = '100vw'
                          assign widths = '375, 550'
                        endif
                        assign fetch_priority = 'auto'
                        if section.index == 1
                          assign fetch_priority = 'high'
                        endif
                      -%}
                      {%- if forloop.first %}
                        {{
                          block.settings.image_mobile
                          | image_url: width: 600
                          | image_tag:
                            height: height,
                            sizes: sizes,
                            widths: widths,
                            fetchpriority: fetch_priority,
                            alt: block.settings.image_alt
                        }}
                      {%- else -%}
                        {{
                          block.settings.image_mobile
                          | image_url: width: 600
                          | image_tag:
                            loading: 'lazy',
                            height: height,
                            sizes: sizes,
                            widths: widths,
                            alt: block.settings.image_alt
                        }}
                      {%- endif -%}
                    {%- endif -%}

                    {%- if block.settings.image and block.settings.image_mobile == blank -%}
                      {%- liquid
                        assign height = block.settings.imagee.width | divided_by: block.settings.image.aspect_ratio | round
                        if section.settings.image_behavior == 'ambient'
                          assign sizes = '120vw'
                          assign widths = '450, 660, 900'
                        else
                          assign sizes = '100vw'
                          assign widths = '375, 550, 750'
                        endif
                        assign fetch_priority = 'auto'
                        if section.index == 1
                          assign fetch_priority = 'high'
                        endif
                      -%}
                      {%- if forloop.first %}
                        {{
                          block.settings.image
                          | image_url: width: 900
                          | image_tag:
                            height: height,
                            sizes: sizes,
                            widths: widths,
                            fetchpriority: fetch_priority,
                            alt: block.settings.image_alt
                        }}
                      {%- else -%}
                        {{
                          block.settings.image
                          | image_url: width: 900
                          | image_tag:
                            loading: 'lazy',
                            height: height,
                            sizes: sizes,
                            widths: widths,
                            alt: block.settings.image_alt
                        }}
                      {%- endif -%}
                    {%- endif -%}

                    {%- if block.settings.image_mobile == blank and block.settings.image == blank -%}
                      {%- assign placeholder_slide = forloop.index | modulo: 2 -%}
                      {%- if placeholder_slide == 1 -%}
                        {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- else -%}
                        {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    {%- endif -%}
                  </picture>
                </div>

                {% # overlay image %}
                {%- if section.settings.gloabl_overlay == 'off'
                  and block.settings.heading != blank
                  or block.settings.subheading != blank
                  or block.settings.button_label != blank
                  or block.settings.button_label_2 != blank
                  or block.settings.button_label_3 != blank
                -%}
                  <div class="slideshow__text-wrapper banner__content banner__content--{{ section.settings.heading_position }} page-width scroll-trigger animate--slide-in">
                    <div
                      class="{{ section.settings.heading_size }}  overlayVideoText {{ section.settings.alignment }}"
                      style="color: {{ section.settings.colorText }}; {% if section.settings.colorBackground != blank  %}background: {{ section.settings.colorBackground }};{% endif %} padding: {{ section.settings.padding }}vh; width: {%  if section.settings.widthAuto %}auto{% else %}{{ section.settings.width }}% {% endif %}"
                    >
                      {% if block.settings.heading != blank %}
                        <h2 class="{{ section.settings.heading_size }} font-body-bold">{{ block.settings.heading }}</h2>
                      {% endif %}
                      {{ block.settings.subheading }}

                      {%- if block.settings.button_label != blank
                        or block.settings.button_label_2 != blank
                        or block.settings.button_label_3 != blank
                      -%}
                        <div class="banner__buttons {{ section.settings.alignment }}">
                          {%- if block.settings.button_label != blank -%}
                            <a
                              {% if block.settings.link %}
                                href="{{ block.settings.link }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label | escape -}}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.button_label_2 != blank -%}
                            <a
                              {% if block.settings.link_2 %}
                                href="{{ block.settings.link_2 }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary_2 %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label_2 | escape -}}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.button_label_3 != blank -%}
                            <a
                              {% if block.settings.link_3 %}
                                href="{{ block.settings.link_3 }}"
                              {% else %}
                                role="link" aria-disabled="true"
                              {% endif %}
                              class="button {% if block.settings.button_style_secondary_3 %}button--secondary{% else %}button--primary{% endif %}"
                            >
                              {{- block.settings.button_label_3 | escape -}}
                            </a>
                          {%- endif -%}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {%- endif -%}
                {% # end overlay image %}
            {% endcase %}
          </div>
        {%- endfor -%}
      </div>
      {% # overlay global %}
      {%- if section.settings.gloabl_overlay == 'on' -%}
        <div class="slideshow__text-wrapper overlayGlobal banner__content banner__content--{{ section.settings.heading_position }} page-width scroll-trigger animate--slide-in">
          <div
            class="{{ section.settings.heading_size }} overlayVideoText {{ section.settings.alignment }}"
            style="color: {{ section.settings.colorText }}; {% if section.settings.colorBackground != blank  %}background: {{ section.settings.colorBackground }};{% endif %} padding: {{ section.settings.padding }}vh; width: {%  if section.settings.widthAuto %}auto{% else %}{{ section.settings.width }}% {% endif %}"
          >
            {% if section.settings.heading != blank %}
              <h2 class="{{ section.settings.heading_size }} font-body-bold">{{ section.settings.heading }}</h2>
            {% endif %}
            {{ section.settings.heading_text }}

            {%- if section.settings.button_label != blank
              or section.settings.button_label_2 != blank
              or section.settings.button_label_3 != blank
            -%}
              <div class="banner__buttons {{ section.settings.alignment }}">
                {%- if section.settings.button_label != blank -%}
                  <a
                    {% if section.settings.link %}
                      href="{{ section.settings.link }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button {% if section.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}"
                  >
                    {{- section.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if section.settings.button_label_2 != blank -%}
                  <a
                    {% if section.settings.link_2 %}
                      href="{{ section.settings.link_2 }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button {% if section.settings.button_style_secondary_2 %}button--secondary{% else %}button--primary{% endif %}"
                  >
                    {{- section.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
                {%- if section.settings.button_label_3 != blank -%}
                  <a
                    {% if section.settings.link_3 %}
                      href="{{ section.settings.link_3 }}"
                    {% else %}
                      role="link" aria-disabled="true"
                    {% endif %}
                    class="button {% if section.settings.button_style_secondary_3 %}button--secondary{% else %}button--primary{% endif %}"
                  >
                    {{- section.settings.button_label_3 | escape -}}
                  </a>
                {%- endif -%}
              </div>
            {% endif %}
          </div>
        </div>
      {%- endif -%}
      {% # end overlay global %}

      {%- if section.blocks.size > 1
        and section.settings.auto_rotate == false
        and section.settings.slider_visual != 'none'
      -%}
        <div class="slideshow__controls slider-buttons{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>

          {%- if section.settings.auto_rotate -%}
            <button
              type="button"
              class="slideshow__autoplay slider-button{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
              aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-pause.svg' | inline_asset_content -}}
              </span>
              <span class="svg-wrapper">
                {{- 'icon-play.svg' | inline_asset_content -}}
              </span>
            </button>
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
        {%- if section.settings.slider_visual == 'counter' -%}
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        {%- else -%}
          <div class="slideshow__control-wrapper">
            {%- for block in section.blocks -%}
              <button
                class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {%- if section.settings.slider_visual == 'numbers' -%}
                  {{ forloop.index -}}
                {%- else -%}
                  <span class="dot"></span>
                {%- endif -%}
              </button>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    </slideshow-component>
  </div>
</div>

{%- if section.settings.fullHeight == true and section.settings.heroMode == false -%}
  <script>
    // Funzione che calcola e assegna l'altezza rimanente
    function setDynamicHeights() {
      // Calcola l'altezza totale delle announcement-bar-section
      let announcementBars = document.querySelectorAll('.announcement-bar-section');
      let totalAnnouncementHeight = 0;
      announcementBars.forEach((bar) => {
        totalAnnouncementHeight += bar.offsetHeight;
      });

      // Calcola l'altezza dell'elemento con classe .section-header
      let sectionHeader = document.querySelector('.section-header');
      let sectionHeaderHeight = sectionHeader ? sectionHeader.offsetHeight : 0;

      // Ottieni l'altezza del viewport
      let viewportHeight = window.innerHeight;

      // Calcola l'altezza rimanente
      let remainingHeight = viewportHeight - totalAnnouncementHeight - sectionHeaderHeight;

      // Se l'altezza rimanente è minore di zero (per sicurezza), poniamola a 0
      if (remainingHeight < 0) {
        remainingHeight = 0;
      }

      // Seleziona gli elementi a cui assegnare l'altezza rimanente
      let elementsToAdjust = document.querySelectorAll(
        '.slideshow, .video-section-w-l video, .video-section-w-l picture, .video-section-w-l iframe'
      );

      // Assegna l'altezza calcolata a tutti gli elementi selezionati
      elementsToAdjust.forEach((element) => {
        element.style.height = remainingHeight + 'px';
      });
    }

    // Esegui il calcolo al caricamento completo della pagina
    window.addEventListener('load', setDynamicHeights);

    // Ricalcola l’altezza ad ogni resize del viewport
    window.addEventListener('resize', setDynamicHeights);
  </script>
{% endif %}
<script src="{{ 'btw-custom-js.js' | asset_url }}" defer="defer"></script>
{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% schema %}
{
  "name": "Slide with video",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "Section appearance"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "fullHeight",
      "label": "Make section full height",
      "info": "Use only on first section. This option overwrite slide height. The height will be displayed correctly in this preview only after a refresh",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "heroMode",
      "label": "Hero mode",
      "info": "Use only on first section. The top menu position will be displayed correctly in this preview only after a refresh",
      "default": false
    },
    {
      "type": "range",
      "id": "utility-bar-gr",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Utility bar opacity",
      "info": "Works only with hero mode",
      "default": 0.9
    },
    {
      "type": "range",
      "id": "header-bar-gr",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Header bar opacity",
      "info": "Works only with hero mode",
      "default": 0.6
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Global overlay text",
      "info": "When activated this area will be displayed on all slides, disabling individual overlays"
    },

    {
      "type": "select",
      "id": "gloabl_overlay",
      "label": "Enable global overaly",
      "options": [
        {
          "value": "on",
          "label": "Enable"
        },
        {
          "value": "off",
          "label": "Disable"
        }
      ],
      "default": "off"
    },

    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Slide heading"
    },
    {
      "type": "richtext",
      "id": "heading_text",
      "label": "Slide description"
    },
    {
      "type": "header",
      "content": "CTA 1"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.slideshow.blocks.slide.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
      "default": false
    },
    {
      "type": "header",
      "content": "CTA 2"
    },
    {
      "type": "text",
      "id": "button_label_2",
      "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "link_2",
      "label": "t:sections.slideshow.blocks.slide.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary_2",
      "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
      "default": false
    },
    {
      "type": "header",
      "content": "CTA 3"
    },
    {
      "type": "text",
      "id": "button_label_3",
      "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
      "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
      "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "link_3",
      "label": "t:sections.slideshow.blocks.slide.settings.link.label"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary_3",
      "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Overlay style",
      "info": "These styles will be applied to all overlays, global and/or individual"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h5",
          "label": "Very small"
        },
        {
          "value": "h4",
          "label": "Small"
        },
        {
          "value": "h3",
          "label": "Normal"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "Size"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "middle-center",
          "label": "Center"
        },
        {
          "value": "bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "middle-left",
          "label": "Center left"
        },
        {
          "value": "middle-right",
          "label": "Center right"
        }
      ],
      "default": "middle-center",
      "label": "Position"
    },
    {
      "type": "color_background",
      "id": "colorBackground",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "colorText",
      "default": "#000000",
      "label": "Text color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "widthAuto",
      "label": "Auto width",
      "info": "If auto width is set percentual width will not work",
      "default": false
    },
    {
      "type": "range",
      "id": "width",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Width",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "vh",
      "label": "Padding",
      "default": 2
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "label": "t:sections.slideshow.settings.show_text_below.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.slideshow.settings.accessibility.content"
    },
    {
      "type": "text",
      "id": "accessibility_info",
      "label": "t:sections.slideshow.settings.accessibility.label",
      "info": "t:sections.slideshow.settings.accessibility.info"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "limit": 2,
      "settings": [
        {
          "type": "header",
          "content": "Overlay elements"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Video heading"
        },
        {
          "type": "richtext",
          "id": "heading_text",
          "label": "Video description"
        },
        {
          "type": "header",
          "content": "CTA 1"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "header",
          "content": "CTA 2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "header",
          "content": "CTA 3"
        },
        {
          "type": "text",
          "id": "button_label_3",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_3",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "url",
          "id": "videoLink",
          "label": "Overall banner link",
          "info": "By placing a link here, all links in the description will be unclickable and the video controls will not be accessible. You will then need to switch the autoplay on."
        },
        {
          "type": "header",
          "content": "Video elements"
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_autoplay",
          "label": "Autoplay video",
          "info": "Autoplay videos are muted",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "enable_controls",
          "label": "Show controls",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__1.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "Video Mobile"
        },
        {
          "type": "video",
          "id": "videoMobile",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__2.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.video.settings.paragraph.content"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        }
      ]
    },
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.slide.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Mobile image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Image heading"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Image description"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Alternative text"
        },
        {
          "type": "header",
          "content": "CTA 1"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "header",
          "content": "CTA 2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "header",
          "content": "CTA 3"
        },
        {
          "type": "text",
          "id": "button_label_3",
          "default": "t:sections.slideshow.blocks.slide.settings.button_label.default",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_3",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slide with video",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "video"
        }
      ]
    }
  ]
}
{% endschema %}
